<main class="main1 container">
  <div class="row">
    <form (ngSubmit)="onSubmitResult()" [formGroup]="myForm" novalidate>
          <div class="row justify-content-center align-items-center">
              <p style="text-align: center;">Create Your Project Now !!</p>
          </div>
          <div class="form-group row">
              <label for="name" class="col-2 col-form-label">Project Name</label>
              <div class="col-9">
                  <input type="text" class="form-control"  formControlName ="name" id="name" placeholder="demo">
              </div>
          </div>
          <div class="form-group row">
              <label for="Description" class="col-2 col-form-label">Description</label>
              <div class="col-9">
                  <textarea class="form-control" formControlName="description" id="Description"> </textarea>
              </div>
          </div>
          <div class="form-group row">
              <label for="EndDate" class="col-2 col-form-label">End Date</label>
              <div class="col-9">
                  <input type="date" class="form-control date" formControlName="endDate" id="EndDate" value="2200-11-03">
              </div>
          </div>
        
   

<div class="col-12">
  <h2>Add Task</h2>
  <form (ngSubmit)="addTask()" class="form-inline">
      <div class="form-group">
          <label for="taskName">Task Name:</label>
          <input type="text" class="form-control" id="taskName" [(ngModel)]="taskName" [ngModelOptions]="{standalone: true}">
      </div>
      <div class="form-group">
        <label for="taskName">Task Description:</label>
        <input type="text" class="form-control" id="taskdescription" [(ngModel)]="taskDescription" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
      
          <label for="email" >Add a Team Member with his Email</label>
          <select  class="form-control"  placeholder="Email" [(ngModel)]="selectedemail" [ngModelOptions]="{standalone: true}">
            <option *ngFor="let user of userList" [value]="user.id">
             {{user.email}} ({{user.firstName}})
            </option> 
            </select>
   
 
  </div>
      <button type="submit" class="btn btn-primary">Add Task</button>
  </form>
</div>
<div class="col-12">
  <h2>Task List</h2>
  <ul class="list-group" *ngFor="let task of tasks">
      <li class="list-group-item">{{ task.title }} : {{task.description}}</li>
  </ul>
</div>
<main class="container main2">
  <div class="row justify-content-center align-items-center">
    
     
       
 
      <div class="table-responsive">
          <div class="label">
              Our Team Members
          </div>
      <table class="table table-striped table col-12">
        <tbody>
          <tr class="list-group" *ngFor="let team of myTeam">
            <li class="list-group-item">{{ team.email ? team.email : "" }} : {{team.firstName? team.firstName : ""}}</li>
          </tr>
    
        </tbody>
      </table>
      <div class="finishDiv row justify-content-center align-items-center">
          <button class="btn btn-primary">Finish</button>
        </div>
    </div>

  </div>
</main>
</form>
</div>
</main>

